/mods/
*.jar
*.jar.disabled

/saves/
/world/

/logs/
/crash-reports/
*.log
*.log.gz

/downloads/
/dynamic-data-pack-cache/
/dynamic-resource-pack-cache/
/local/
/particular_cache/
/mdm_jacket_cache/
/vista_web_content_cache/
temp_image_dump.png

/resourcepacks/
/texturepacks/
/shaderpacks/

/screenshots/

options.txt
command_history.txt
servers.dat
servers.dat_old
usercache.json
usernamecache.json
hotbar.nbt
realms_persistence.json
banned-ips.json
banned-players.json
ops.json
whitelist.json

.qmenu_opened.marker
malum_extra.json
patchouli_data.json

*.lock
*.tmp
*.lnk
.mixin.out/
.github/
.vscode/
.probe/

/backups/
/ftbbackups3/

/kubejs/exported/
/kubejs/tmp/
/kubejs/logs/
/kubejs/assets/kubejs/generated/
/kubejs/data/kubejs/generated/

/data/
/debug/

.curseclient
/minecraftinstance.json
/instance.cfg

*.bak

.DS_Store
Thumbs.db
desktop.ini